*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: var(--bgcolor);
    color:var(--textcolor);
}
:root{
    --bgcolor:#191f36;
    --sndcolor:#262B40;
    --textcolor:#fff;
    --maincolor:#59B2f4;
    --hovercolor:linear-gradient(to right,#f32170,#ff6b08,#cf23cf,#eedd44);
    --hovercolor1:linear-gradient(to right,#ffffff,#ff6b08,#ffffff,#eedd44);
}
html{
    overflow-x: hidden;
}
.header{
    display:flex;
    top:0;
    left:0;
    width: 100%;
    padding:2rem 9%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    font-size:2.5rem;
    cursor: pointer;
    font-weight: 700;
}
.navbar a{
    text-decoration: none;
    font-size:1.5rem;
    cursor: pointer;
    font-weight: 700;
    margin-left: 4rem;
}
.navbar a:hover{
    background:var(--hovercolor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home{
    min-height: 100vh;
    padding: 2rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-icon{
    font-size: 2.6rem;
    background:var(--hovercolor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: none;
}
.home-content{
    font-size: 3.2rem;
    font-weight: 700;
    background: transparent;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-image img{
    width: 25vw;
    border-radius: 50%;
    /*animation: floatimage 4s ease-in-out infinite;*/
}
@keyframes floatimage {
    0%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border:.2rem solid var(--maincolor);
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    transition: .5s ease;
    color:var(--maincolor);
}
.social-media a:hover{
    background:var(--maincolor);
    color:var(--maincolor);
    box-shadow: 0 0 1rem var(--maincolor);
}
.social-media i{
    border-radius: 50%;
    background: transparent;
}
.clr{
    background:var(--hovercolor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.clrs{
    background:var(--hovercolor1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.about{
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding-top: 10%;
}
.about h1{
    text-align: center;
    line-height: 1.2;
    font-size: 3.6rem;
}
.about p{
    font-size: 1.6rem;
    margin: 2rem 3rem;
    line-height: 2;
    font-family:cursive;
}
.sp-color{
    color:aqua;
}
.skills{
    padding-bottom: 10%;
}
.skills h1{
    text-align: center;
    line-height: 1.2;
    font-size: 3.6rem;
    margin-top: 10%;
    margin-bottom: 5%;
}
.skills-container{
    display: flex;
    /*flex-wrap: wrap;*/
    gap:2rem;
    margin-left: 5%;
}
.skills-box{ 
    background:#262B40;
    padding: 3rem 3rem 4rem;
    border-radius: 2rem;
    border: .2rem solid #97a6e4;
}
.skills-box img{
    background-color: #262B40;
}
.skills-box:hover{
    border-color: aqua;
    cursor: pointer;
}
.experience{
    padding-bottom: 10%;
}
.experience h1{
    text-align: center;
    line-height: 1.2;
    font-size: 3.6rem;
    padding-bottom: 10%;
}
.contents{
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    border-left: 2px solid #bababa;
    padding: 0px 30px;
    margin-right: 10%;
}
.boxs{
    position: relative;
    padding: 20px;
    border:1px solid #eaeaea;
    background-color: #262B40;
    cursor:pointer;
    margin-bottom: 50px;
}
.boxs {
    background-color: #262B40;
}
.boxs:hover{
    box-shadow: 0px 3px 12px 0px #8d8c8c;
}
.boxs::before{
    content:"";
    position:absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right:102.5%;
    top:0;
    background-color:darkslategray;
    border:2px solid white;
}
.exp1{
    font-size: 25px;
    font-family: cursive;
    background-color: #262B40;
    color: aqua;
}
.exp2{
    font-size: 20px;
    font-family: cursive;
    background-color: #262B40;
    color: #ee74ee;
}
.exp{
    font-size: 18px;
    font-family: cursive;
    background-color: #262B40;
}
.contact h1{
    text-align: center;
    line-height: 1.2;
    font-size: 3.6rem;
    padding-bottom: 5%;
}
.contact form{
    max-width: 60rem;
    margin:1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding: 1.3rem;
    font-size: 1.6rem;
    color:#8d8c8c;
    background: #262B40;
    border-radius: .8rem;
    margin:.7rem 0;
    border:none;
}
.contact form .input-box input{
    width: 48%;
}
.contact form textarea{
    resize: none;
    cursor: pointer;
}
.contact form .btn{
    background-color: rgb(76, 235, 76);
    padding: 1.2rem;
    border-radius: 15px;
    font-size: 1rem;
    border: none;
}
.contact form .btn:hover{
    box-shadow: 0px 3px 12px 0px #8d8c8c;
}
.contact form .input-box input:focus,.contact form textarea:focus{
    outline: none;
}